spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/protrackr
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    baseline-on-migrate: true
    enabled: true
  redis:
    host: localhost
    port: 6379

server:
  port: 8080
#removed open api key
